<!DOCTYPE html>
<html>
<head>
	<!--Required meta tags-->
	<meta charset="utf-8">
	<meta name= "viewport" content="width-device-width, initial-scale=1, shrink-to-fit=no">
	<!--Bootstrap css-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!--font awesome-->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<title>TodoList App</title>
	<style type="text/css">
		body{
			background-color: #555;
			color: white;
		}
		h1{
			margin-top: 10rem;
		}
		form{
			margin-bottom: 2rem;
		}
		ul{
			list-style-type: none;
			padding-top: 20px;
		}
		li{
			padding-left: 20px
		}
	</style>
</head>	
<body>
	<!--nav bar-->
	<nav class="navbar navbar-dark bg-dark" style="background-color: #e3f2fd;">
		<a class="navbar-brand" href="#">
			<i class="fa fa-check-circle"></i>
			TodoList 
		</a>
	</nav>
	<!--input form-->
	<div class="container">
		<row>
			<h1 class="text-center">Enter todo Item</h1>
			<form class="col-lg-6" action="/newtodo" method="POST">
				<div class="input-group">
					<input type="text" class="form-control" name="item" placeholder="Enter todo list item" value="this is a new todo list item">
					<span>
						<button type="submit" class="btn btn-primary">
							Submit
						</button>
					</span>
				</div>
			</form>
		</row>
		<!--unordered list (ul)-->
		<div class ="row">
			<ul class="col-6 mx-auto">
				<% for(var i =0; i<toDoList.length; i++){ %>
					<li> <%= toDoList[i].name %></li>
				<% } %>
			</ul>
		</div>
	</div>
</body>